@import "../../SiteVars.css";

:root {

  --maxWidth: 100%;

  /* Devices */
  --mobileMinimumGutter: 0em;
  --mobileWidth: auto;
  --mobileGutter: 1em;


  --tabletMinimumGutter: 1rem;
  --tabletWidth: calc((var(--tabletBreakpoint) - var(--scrollbarWidth))-(var(--tabletMinimumGutter)*2));
  --tabletGutter: auto;

  --computerMinimumGutter: 1.5rem;
  --computerWidth: calc((var(--computerBreakpoint) - var(--scrollbarWidth)) - (var(--computerMinimumGutter) * 2));
  --computerGutter: auto;

  --largeMonitorMinimumGutter: 2rem;
  --largeMonitorWidth: calc((var(--largeMonitorBreakpoint)- var(--scrollbarWidth)) - (var(--largeMonitorMinimumGutter) * 2) );
  --largeMonitorGutter: auto;

  /* Coupling (Add Negative Margin to container size) */
  --gridGutterWidth: 2rem;
  --relaxedGridGutterWidth: 3rem;
  --veryRelaxedGridGutterWidth: 5rem;

  --mobileGridWidth: var(--mobileWidth);
  --tabletGridWidth: calc(var(--tabletWidth) + var(--gridGutterWidth));
  --computerGridWidth: calc(var(--computerWidth) + var(--gridGutterWidth));
  --largeMonitorGridWidth: calc(var(--largeMonitorWidth) + var(--gridGutterWidth));

  --mobileRelaxedGridWidth: var(--mobileWidth);
  --tabletRelaxedGridWidth: calc(var(--tabletWidth) + var(--relaxedGridGutterWidth));
  --computerRelaxedGridWidth: calc(var(--computerWidth) + var(--relaxedGridGutterWidth));
  --largeMonitorRelaxedGridWidth: calc(var(--largeMonitorWidth) + var(--relaxedGridGutterWidth));

  --mobileVeryRelaxedGridWidth: var(--mobileWidth);
  --tabletVeryRelaxedGridWidth: calc(var(--tabletWidth) + var(--veryRelaxedGridGutterWidth));
  --computerVeryRelaxedGridWidth: calc(var(--computerWidth) + var(--veryRelaxedGridGutterWidth));
  --largeMonitorVeryRelaxedGridWidth: calc(var(--largeMonitorWidth) + var(--veryRelaxedGridGutterWidth));

  /*-------------------
         Types
  --------------------*/

  /* Text */
  --textWidth: 700px;
  --textFontFamily: var(--pageFont);
  --textLineHeight: 1.5;
  --textSize: var(--large);

}
