@import "./ContainerVars.css";


.Container {
  display: block;
  max-width: var(--maxWidth);

  /* Responsive layouts */

  /* Mobile */
  @custom-media --mobile-viewport only screen and max-width:$largestMobileScreenVar;

  @media (--mobile-viewport){
    width: var(--mobileWidth);
    margin-left: var(--mobileGutter);
    margin-right: var(--mobileGutter);
  }


  /* Tablet */
  @custom-media --tablet-viewport only screen and (min-width:$tabletBreakpointVar) and (max-width:$largestTabletScreenVar);

  @media (--tablet-viewport){
    width: var(--tabletWidth);
    margin-left: var(--tabletGutter);
    margin-right: var(--tabletGutter);
  }

  /* Small Monitor */
  @custom-media --computer-viewport only screen and (min-width:$computerBreakpointVar) and (max-width:$largestSmallMonitorVar);

  @media (--computer-viewport){

    width: var(--computerWidth);
    margin-left: var(--computerGutter);
    margin-right: var(--computerGutter);
  }

  /* Large Monitor */
  @custom-media --largeMonitor-viewport only screen and (min-width:$largeMonitorBreakpointVar);

  @media (--largeMonitor-viewport){
    width: var(--largeMonitorWidth);
    margin-left: var(--largeMonitorGutter);
    margin-right: var(--largeMonitorGutter);
  }


  /* Modifiers */
  &&--text {
    font-family: var(--textFontFamily);
    max-width: var(--textWidth);
    line-height: var(--textLineHeight);
    font-size: var(--textSize);
  }

  &&--fluid {
    width: 100%;
  }

  /* State Groups */

  /* alignment group */
  &.alignment {
    &-is-toLeft {
      text-align: left;
    }
    &-is-toRight {
      text-align: right;
    }
    &-is-toCenter {
      text-align: center;
    }
    &-is-toJustified {
      text-align: justify;
      hyphens: auto;
    }
  }

}
