@import "./ContainerVars.css";

/*******************************
            Container
*******************************/

.container {
  display: block;
  max-width: var(--maxWidth);

  /* Mobile */
  @custom-media --mobile-viewport only screen and max-width:$largestMobileScreenVar;

  @media (--mobile-viewport){
    width: var(--mobileWidth);
    margin-left: var(--mobileGutter);
    margin-right: var(--mobileGutter);
  }


  /* Tablet */
  @custom-media --tablet-viewport only screen and (min-width:$tabletBreakpointVar) and (max-width:$largestTabletScreenVar);

  @media (--tablet-viewport){
    width: var(--tabletWidth);
    margin-left: var(--tabletGutter);
    margin-right: var(--tabletGutter);
  }

  /* Small Monitor */
  @custom-media --computer-viewport only screen and (min-width:$computerBreakpointVar) and (max-width:$largestSmallMonitorVar);

  @media (--computer-viewport){

    width: var(--computerWidth);
    margin-left: var(--computerGutter);
    margin-right: var(--computerGutter);
  }

  /* Large Monitor */
  @custom-media --largeMonitor-viewport only screen and (min-width:$largeMonitorBreakpointVar);

  @media (--largeMonitor-viewport){
    width: var(--largeMonitorWidth);
    margin-left: var(--largeMonitorGutter);
    margin-right: var(--largeMonitorGutter);
  }


  /* Types */
  &.text{
    font-family: var(--textFontFamily);
    max-width: var(--textWidth);
    line-height: var(--textLineHeight);
    font-size: var(--textSize);
  }

  &.fluid{
    width: 100%;
  }


  &.aligned {
    &ToLeft {
      text-align: left;
    }
    &ToRight {
      text-align: right;
    }
    &ToCenter {
      text-align: center;
    }
    &ToJustified {
      text-align: justify;
      hyphens: auto;
    }
  }

}
