  @import "../../SiteVars.css";

:root {

  --maxWidth: 100%;

  /* Devices */
  --mobileMinimumGutter: 0em;
  --mobileWidth: auto;
  --mobileGutter: 1em;


  --tabletMinimumGutter: 1rem;
  --tabletWidth: calc((var(--tabletBreakpoint) - var(--scrollbarWidth))-(var(--tabletMinimumGutter)*2));
  --tabletGutter: auto;

  --computerMinimumGutter: 1.5rem;
  --computerWidth: calc((var(--computerBreakpoint) - var(--scrollbarWidth)) - (var(--computerMinimumGutter) * 2));
  --computerGutter: auto;

  --largeMonitorMinimumGutter: 2rem;
  --largeMonitorWidth: calc((var(--largeMonitorBreakpoint)- var(--scrollbarWidth)) - (var(--largeMonitorMinimumGutter) * 2) );
  --largeMonitorGutter: auto;

  /*-------------------
         Types
  --------------------*/

  /* Text */
  --textWidth: 700px;
  --textFontFamily: var(--pageFont);
  --textLineHeight: 1.5;
  --textSize: var(--large);

}
