@import "../../SiteVars.css";

:root {

  /*-------------------
         Element
  --------------------*/

  --textTransform: none;
  --fontFamily: var(--headerFont);
  --fontWeight: var(--headerFontWeight);
  --lineHeight: var(--headerLineHeight);
  --lineHeightOffset: var(--headerLineHeightOffset);

  --topMargin: var(--headerTopMargin);
  --bottomMargin: var(--headerBottomMargin);
  --margin: var(--topMargin) 0em var(--bottomMargin);

  --firstMargin: -var(--lineHeightOffset);
  --lastMargin: 0em;
  --horizontalPadding: 0em;
  --verticalPadding: 0em;

  /* Sub Heading */
  --subHeadingDistance: 2px;
  --subHeadingFontSize: var(--relativeTiny);
  --subHeadingFontWeight: bold;
  --subHeadingTextTransform: uppercase;
  --subHeadingColor: '';

  --smallSubHeadingSize: var(--relativeMini);
  --largeSubHeadingSize: var(--relativeSmall);
  --hugeSubHeadingSize: var(--relativeMedium);

  /* Sub Header */
  --subHeaderMargin: 0em;
  --subHeaderLineHeight: 1.2em;
  --subHeaderColor: var(--mutedTextColor);

  /* Icon */
  --iconOpacity: 1;
  --iconSize: 1.5em;
  --iconOffset: var(--lineHeightOffset);
  --iconMargin: 0.75rem;
  --iconAlignment: middle;

  /* Image */
  --imageWidth: 2.5em;
  --imageHeight: auto;
  --imageOffset: var(--lineHeightOffset);
  --imageMargin: var(--iconMargin);
  --imageAlignment: middle;

  /* Label */
  --labelSize: '';
  --labelDistance: 0.5rem;
  --labelVerticalAlign: middle;

  /* Content */
  --contentAlignment: top;
  --contentIconAlignment: middle;
  --contentImageAlignment: middle;

  /* Paragraph after Header */
  --nextParagraphDistance: 0em;

  /*-------------------
        Variations
  --------------------*/

  /* Sizing */
  --hugeFontSize   : var(--relativeH1);
  --largeFontSize  : var(--relativeH2);
  --mediumFontSize : var(--relativeH3);
  --smallFontSize  : var(--relativeH4);
  --tinyFontSize   : var(--relativeH5);

  /* Sub Header */
  --h1SubHeaderFontSize: var(--large);
  --h2SubHeaderFontSize: var(--large);
  --h3SubHeaderFontSize: var(--medium);
  --h4SubHeaderFontSize: var(--medium);
  --h5SubHeaderFontSize: var(--small);

  --hugeSubHeaderFontSize  : var(--h1SubHeaderFontSize);
  --largeSubHeaderFontSize : var(--h2SubHeaderFontSize);
  --subHeaderFontSize      : var(--h3SubHeaderFontSize);
  --smallSubHeaderFontSize : var(--h4SubHeaderFontSize);
  --tinySubHeaderFontSize  : var(--h5SubHeaderFontSize);

  /* Icon Header */
  --iconHeaderSize: 3em;
  --iconHeaderOpacity: 1;
  --iconHeaderMargin: 0.5rem;
  --circularHeaderIconSize: 2em;
  --squareHeaderIconSize: 2em;

  /* No Line Height Offset */
  --iconHeaderTopMargin: 2rem;
  --iconHeaderBottomMargin: var(--bottomMargin);
  --iconHeaderFirstMargin: 0em;

  /* Divided */
  --dividedBorderWidth: 1px;
  --dividedBorder: var(--dividedBorderWidth) solid var(--borderColor);
  --dividedColoredBorderWidth: 2px;

  --dividedBorderPadding: 3px;
  --dividedSubHeaderPadding: 3px;
  --dividedIconPadding: 0em;

  /* Block */
  --blockBackground: var(--darkWhite);
  --blockBoxShadow: none;
  --blockBorderWidth: 1px;
  --blockBorder: var(--blockBorderWidth) solid var(--solidBorderColor);
  --blockHorizontalPadding: var(--medium);
  --blockVerticalPadding: var(--mini);
  --blockBorderRadius: var(--defaultBorderRadius);

  --tinyBlock: var(--tiny);
  --smallBlock: var(--small);
  --mediumBlock: var(--medium);
  --largeBlock: var(--large);
  --hugeBlock: var(--huge);

  /* Attached */
  --attachedOffset: -1px;
  --attachedBoxShadow: none;
  --attachedBorder: 1px solid var(--solidBorderColor);
  --attachedVerticalPadding: var(--blockVerticalPadding);
  --attachedHorizontalPadding: var(--blockHorizontalPadding);
  --attachedBackground: var(--white);
  --attachedBorderRadius: var(--blockBorderRadius);

  --tinyAttachedSize: var(--relativeTiny);
  --smallAttachedSize: var(--relativeSmall);
  --mediumAttachedSize: var(--relativeMedium);
  --largeAttachedSize: var(--relativeLarge);
  --bigAttachedSize: var(--relativeBig);
  --hugeAttachedSize: var(--relativeHuge);

  /* Inverted */
  --invertedColor: var(--white);
  --invertedSubHeaderColor: var(--invertedMutedTextColor);
  --invertedDividedBorderColor: var(--whiteBorderColor);
  --invertedBlockBackground: var(--lightBlack) var(--subtleGradient);
  --invertedAttachedBackground: var(--invertedBlockBackground);

  /* Floated */
  --floatedMargin: 0.5em;
}
