@import "./SegmentVars.css";


/* Animations */
@keyframes Segment-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Segment {
  position: relative;
  background: var(--background);
  box-shadow: var(--boxShadow);
  margin: var(--margin);
  padding: var(--padding);
  border-radius: var(--borderRadius);
  border: var(--border);

  &:first-child {
     margin-top: 0em;
  }
  &:last-child {
     margin-bottom: 0em;
  }



  /* Modifiers */


  /* vertical type */
  &.&--vertical {
    margin: 0em;
    padding-left: 0em;
    padding-right: 0em;

    background: none transparent;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: var(--borderWidth) solid var(--borderColor);

    &:last-child {
      border-bottom: none;
    }
  }

  &.&--piled {
    margin: var(--piledMargin) 0em;
    box-shadow: var(--piledBoxShadow);
    z-index: var(--piledZIndex);
    &:first-child {
      margin-top: 0em;
    }
    &:last-child{
      margin-bottom: 0em;
    }
    &::after {
      background-color: var(--white);
      visibility: visible;
      content: '';
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      width: 100%;
      border: var(--piledBorder);
      box-shadow: var(--piledBoxShadow);
      transform: rotate(var(--piledDegrees));
      top: 0;
      z-index: -1;
    }
    &::before {
      background-color: var(--white);
      visibility: visible;
      content: '';
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      width: 100%;
      border: var(--piledBorder);
      box-shadow: var(--piledBoxShadow);
      transform: rotate(-var(--piledDegrees));
      top: 0;
      z-index: -2;
    }

    &.display {
      &-is-topAttached {
        margin-top: var(--piledMargin);
        margin-bottom: 0em;
        &:first-child {
          margin-top: 0em;
        }
      }
      &-is-bottomAttached {
        margin-top: 0em;
        margin-bottom: var(--piledMargin);
        &:last-child {
          margin-bottom: 0em;
        }
      }
    }
  }

  /* stacked type */
  &.&--stacked {
    padding-bottom: var(--stackedPadding);
    &::before {
      content: '';
      position: absolute;
      bottom: calc(-(var(--stackedHeight) / 2));
      left: 0%;

      border-top: 1px solid var(--borderColor);
      background: var(--stackedPageBackground);

      width: 100%;
      height: var(--stackedHeight);
      visibility: visible;
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(-(var(--stackedHeight) / 2));
      left: 0%;

      border-top: 1px solid var(--borderColor);
      background: var(--stackedPageBackground);

      width: 100%;
      height: var(--stackedHeight);
      visibility: visible;
    }

    /* depth group */
    &.depth {
      &-is-tall::before {
        display: block;
        bottom: 0px;
      }
    }

    &.theme-is-inverted {
      &::before {
        background-color: var(--subtleTransparentBlack);
        border-top: 1px solid var(--selectedBorderColor);
      }

      &::after {
        background-color: var(--subtleTransparentBlack);
        border-top: 1px solid var(--selectedBorderColor);
      }
    }

  }

  /* circular type */
  &.&--circular {
    display: table-cell;
    padding: var(--circularPadding);
    text-align: center;
    vertical-align: middle;
    border-radius: 500em;
  }

  /* basic type */

  &.&--basic {
    background: var(--basicBackground);
    box-shadow: var(--basicBoxShadow);
    border: var(--basicBorder);
    border-radius: var(--basicBorderRadius);
  }

  /* clearing type */

  &.&--clearing {
    &::after {
       content: ".";
       display: block;
       height: 0;
       clear: both;
       visibility: hidden;
     }
  }


  /* State Groups */

  /* padding group */
  &.padding {
    &-is-padded {
      padding: var(--paddedSegmentPadding);
    }

    &-is-veryPadded {
      padding: var(--veryPaddedSegmentPadding);
    }
  }


  /* display group */

  &.display {
    &-is-compact {
      display: table;
    }
    &-is-singleAttached {
      top: 0px;
      bottom: 0px;
      border-radius: 0px;
      margin: 0em var(--attachedHorizontalOffset);
      width: var(--attachedWidth);
      max-width: var(--attachedWidth);
      box-shadow: var(--attachedBoxShadow);
      border: var(--attachedBorder);
    }
    &-is-middleAttached {
      top: 0px;
      bottom: 0px;
      border-radius: 0px;
      margin: 0em var(--attachedHorizontalOffset);
      width: var(--attachedWidth);
      max-width: var(--attachedWidth);
      box-shadow: var(--attachedBoxShadow);
      border: var(--attachedBorder);
      border-top: none;
    }
    &-is-topAttached {
      top: var(--attachedTopOffset);
      bottom: 0px;
      margin-bottom: 0em;
      margin-right: var(--attachedHorizontalOffset);
      margin-top: var(--verticalMargin);
      border-radius: var(--borderRadius) var(--borderRadius) 0em 0em;         width: var(--attachedWidth);
      max-width: var(--attachedWidth);
      box-shadow: var(--attachedBoxShadow);
      border: var(--attachedBorder);
      &:first-child {
        margin-top: 0em;
      }
    }
    &-is-bottomAttached {
      top: var(--attachedBottomOffset);
      bottom: 0px;
      margin-top: 0em;
      margin-bottom: var(--verticalMargin);
      margin-right: var(--attachedHorizontalOffset);
      width: var(--attachedWidth);
      max-width: var(--attachedWidth);
      box-shadow: var(--attachedBottomBoxShadow);
      border-radius: 0em 0em var(--borderRadius) var(--borderRadius);
      border: var(--attachedBorder);
      border-top: none;
      &:last-child {
        margin-bottom: 0em;
      }
    }
  }

  /* shadow group */

  &.shadow {
    &-is-raised {
      box-shadow: var(--raisedBoxShadow);
    }
  }

  /* content group */
  &.content {
    &-is-disabled {
      opacity: var(--disabledOpacity);
      color: var(--disabledTextColor);
    }
    &-is-loading {
      position: relative;
      cursor: default;
      point-events: none;
      text-shadow: none;
      color: transparent;
      transition: all 0s linear;
      &::before {
        position: absolute;
        content: '';
        top: 0%;
        left: 0%;
        background: var(--loaderDimmerColor);
        width: 100%;
        height: 100%;
        border-radius: var(--borderRadius);
        z-index: var(--loaderDimmerZIndex);
      }
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin: var(--loaderMargin);
        width: var(--loaderSize);
        height: var(--loaderSize);
        animation: Segment-spin var(--loaderSpeed) linear;
        animation-iteration-count: infinite;
        border-radius: var(--circularRadius);
        border-color: var(--loaderLineColor) var(--loaderFillColor) var(--loaderFillColor) var(--loaderFillColor);
        border-style: solid;
        border-width: var(--loaderLineWidth);
        box-shadow: 0px 0px 0px 1px transparent;
        visibility: visible;
        z-index: var(--loaderLineZIndex);
      }
    }
  }


  /* color group */

  &.color {
    &-is-red {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--red);
      }
      &.theme-is-inverted {
        background-color: var(--red);
        color: var(--white);
      }
    }

    &-is-orange {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--orange);
      }
      &.theme-is-inverted {
        background-color: var(--orange);
        color: var(--white);
      }
    }

    &-is-yellow {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--yellow);
      }
      &.theme-is-inverted {
        background-color: var(--yellow);
        color: var(--white);
      }
    }

    &-is-olive {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--olive);
      }
      &.theme-is-inverted {
        background-color: var(--olive);
        color: var(--white);
      }
    }

    &-is-green {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--green);
      }
      &.theme-is-inverted {
        background-color: var(--green);
        color: var(--white);
      }
    }

    &-is-teal {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--teal);
      }
      &.theme-is-inverted {
        background-color: var(--teal);
        color: var(--white);
      }
    }

    &-is-blue {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--blue);
      }
      &.theme-is-inverted {
        background-color: var(--blue);
        color: var(--white);
      }
    }

    &-is-violet {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--violet);
      }
      &.theme-is-inverted {
        background-color: var(--violet);
        color: var(--white);
      }
    }

    &-is-purple {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--purple);
      }
      &..theme-is-inverted {
        background-color: var(--purple);
        color: var(--white);
      }
    }

    &-is-pink {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--pink);
      }
      &.theme-is-inverted {
        background-color: var(--pink);
        color: var(--white);
      }
    }

    &-is-brown {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--brown);
      }
      &.theme-is-inverted {
        background-color: var(--brown);
        color: var(--white);
      }
    }

    &-is-grey {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--grey);
      }
      &.theme-is-inverted {
        background-color: var(--grey);
        color: var(--white);
      }
    }

    &-is-black {
      &:not(.theme-is-inverted) {
        border-top: var(--coloredBorderSize) solid var(--black);
      }
      &.theme-is-inverted {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  /* theme group */
  &.theme {
    &.-is-inverted {
      border: none;
      box-shadow: none;
      background: var(--invertedBackground);
      color: var(--invertedTextColor);
      &.emphasis-is-primary {
        background: var(--invertedBackground);
        color: var(--invertedTextColor);
      }
      &.display-is-singleAttached {
        border-color: var(--solidWhiteBorderColor);
      }
      &.display-is-middleAttached {
        border-color: var(--solidWhiteBorderColor);
      }
      &.display-is-bottomAttached {
        border-color: var(--solidWhiteBorderColor);
      }
      &.display-is-topAttached {
        border-color: var(--solidWhiteBorderColor);
      }
    }
  }


  /* alignment group */

  &.alignment {
    &-is-toLeft {
      text-align: left;
    }
    &-is-toRight {
      text-align: right;
    }
    &-toCenter {
      text-align: center;
    }
  }

  /* float group */
  &.float {
    &-is-toLeft {
      float: left;
      margin-right: var(--floatedDistance);
    }
    &-toRight {
      float: right;
      margin-left: var(--floatedDistance);
    }
  }

  /* emphasis group */
  &.emphasis {
    &-is-secondary {
      background: var(--secondaryBackground);
      color: var(--secondaryColor);
      &.theme-is-inverted {
        background: var(--secondaryInvertedBackground);
        color: var(--secondaryInvertedColor);
      }
    }
    &-is-tertiary {
      background: var(--tertiaryBackground);
      color: var(--tertiaryColor);
      &.theme-is-inverted {
        background: var(--tertiaryInvertedBackground);
        color: var(--tertiaryInvertedColor);
      }
    }
  }

}
