---
title: Axu's Blog
component: ContentPage
---
h1 It's all about I/O
h3 The 'I' part
p I is the input. I is everything you see, you hear and you feel. I is what makes you think who you are and what you know.
h3 The '/' part
p / is thinking. It is the processing power of your brain. It is the source of your self-consciousness.
h3 The 'O' part
p O is the output. For example, my blog.
