.Section {

  &[data-uipart='main'] {
    flex-grow : 1;
    flex-basis: 100px;
  }

  &&--pillar {
    &[data-uipart='header'] {
      height: 100px;
    }
    &[data-uipart='content'] {
      flex-grow : 1;
      background: green;
    }
  }

}
